*{ margin: 0;padding: 0;}
 ul,li{list-style: none;}
 a{text-decoration: none;color: black}
 i,em{font-style: normal;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
header{
    width: 100%;
   height: 52px;
    background: #2f2f2f;
}
.header_con{
    width: 1200px;
    /* background: #ccc; */
    /* height: 44px; */
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    /* background: black; */
}
.vivo_logo{
   width: 230px;
}
.vivo_logo img{
    opacity: 1;
}
.vivo_logo a:hover{
    opacity: 0.5;
    
}
.nav{
    width: 710px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.nav li{
   float: left;

}
.nav li a:hover{
    color: #aaaaaa;
}
.nav li a{
    font-size: 14px;
    color: #ffffff;
    line-height: 52px;
}
.icon{
    /* height: 20px; */
   color:#ffffff;
   position: absolute;
   top: 18px;
   right:0;
   cursor: pointer;
    
}
.yonghu{
    display: inline-block;
    margin-left: 85px;
    /* overflow: hidden; */
    height: 20px;
}
.yonghu:hover{
    height: 200px;
    /* width: 10px; */
}
.yonghu:hover .menuitem{
    z-index: 1;
    display: block;
}

.menuitem:hover{
    color: #aaaaaa;
}

.menuitem{
    background: red;
    position: absolute;
    left: -23px;
    top: 35px;
    /* z-index: -5; */
    display: none;
}
.menuitem .submenu{
    background: #ffffff;
    line-height: 50px;
    text-align: center;

}

.submenu li{
    width: 160px;
    height: 50px;
   
    /* background: lightgreen; */
}
.submenu li a{
    color: black;
}
.submenu li:hover{
    background: #cccccc;
}

.crumbs{
    width:1200px;
    height: 72px;
    /* background: lawngreen; */
    margin: 0 auto;
    line-height: 72px;
}
.crumbs a{
    color: black;
    font-size: 13px;
}
.crumbs span{
    font-size: 12px;
    color: #cccccc;
}
.prod-contant{
    width: 1200px;
    margin: 0 auto;
}
.prod-left{
    width: 515px;
    height: 743px;
    float: left;
    /* background: lightseagreen; */
}

/* 轮播图css */
.swiper-slide {
    background-size: cover;
    background-position: center;
}
.swiper-container {
    width: 515px;
    height: 515px;
}
#thumbs {
    width: 366px;
    height: 160px;
    box-sizing: border-box;
    padding: 10px 0;
    line-height: 218px;
    margin-left: 72px;
}
.swiper-button-prev,.swiper-button-next{
    outline: none;
}
#gallery img{
width: 515px;
height: 515px;
}
#thumbs .swiper-slide {
    width: 85px;
    height: 85px;
    opacity: 0.4;
}
#thumbs .swiper-slide img{
    width: 85px;
    height: 100%;
    background: #cccccc;
}
#thumbs .swiper-slide-thumb-active {
    opacity: 1;
}
.collect{
    height: 20px;
    margin-top: 20px;
    margin-left: 112px;
    
}
.collect li{
    float: left;
    margin-left: 20px;
}
.collect li a{
    font-size: 12px;
    color:#cccccc;
}
.prod-right{
    width: 508px;
    height: 1460px;
    /* float: left; */
    float: right;
    /* background:#cccccc; */
}
.promotion-words{
    font-size: 13px;
    margin-top: 10px;
}
.promotion-words span{
    color: red;
}
.pro-summary{
    height: 107px;
    margin-top: 36px;
    margin-bottom: 15px;
    padding: 40px 0 37px;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}
.summary-price{
    width: 198px;
    height: 106px;
    border-right: 1px solid #cccccc;
    float: left;
    font-size: 27px;
    color: red;
    line-height: 106px;
    text-align: left;
}
.summary-promotion{
    width: 309px;
    height: 107px;
    float: left;
}
.gift-item img{
width: 40px;
height: 40px;
vertical-align: middle;
}
.table-cell{
    float: left; 
    margin-left: 20px;  
}
.table-cell{
    padding-top: 10px;

}
.label{
    width: 38px;
    height: 23px;
    background: red;
    font-size: 12px;
    color: #fff;  
}
.server-support-box li{
    display: block;
    float: left;
    padding-left: 22px;
}
.supp{
    padding-left: 0;
    font-size: 14px;
    /* margin-top: 5px; */
}

.server-support-box li a{
    color: black;
    font-size: 14px;
}
.pro-paramas dt{
    padding: 75px 0 0;
    font-size: 15px;
    line-height: 3;
    margin-bottom: 20px;
    color: #333;
    height: 22px;
    display: block;
}
.choose{
    padding-top: 219px !important;
}
.num{
    padding-top: 215px !important;
}
.tags li {
    position: relative;
    float: left;
    margin-left: 5px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 15px;
    color: #777;
    cursor: pointer;
    border: 1px solid #DDD;
    border-radius: 3px;
    overflow: hidden;
    /* height: 57px; */
    line-height: 55px;
    width: 243px;
}
.choiceTotal-box{
    border-top: 1px solid #e5e5e5;
    margin-top: 50px;
    padding: 58px 0;
}
.choiceTotal-box .table-cell{
    display: table-cell;
    vertical-align: top;
    color: #666;
    font-size: 13px;
    word-break: break-all;
    word-wrap: break-word;
    line-height: 32px;
}
.choiceTotal-box .totalPrice{
    height: 20px;
    max-width: 119px;
    border-right: 1px solid #e0e0e0;
    margin-right: 18px;
    padding-right: 18px;
    font-size: 25px;
    color: #f51200;
    white-space: nowrap;
    margin-top: 6px;
    line-height: 20px;
}
.totalPrice dfn{
    font-style: normal;
}
.j_normalBtns{
    margin-top: 20px;
}
.j_normalBtns button{
    margin-right: 27px;
    border-radius: 20px / 50%;
    text-align: center;
    border: 0;
    line-height: 46px;
    color: #fff;
    vertical-align: middle;
    cursor: pointer;
}
.j_normalBtns i{
    height: 46px;
    min-width: 170px;
    display: table-cell;
}
.addCar{
    background-color: #ff9536;
    border-color: #ff9536;
    color: #fff;
}
.buy{
   /* background:#ff4e4f; */
   background: red;
}
.pro-main-info{
    clear: both;
    width: 100%;
    height: auto;
    border-top:1px solid black; 
}
.prod-main-tab{
    width: 100%;
    /* height: 80px; */
    height: auto;
    z-index: 98;
    background: #fff;
    border-top: 1px solid #e0e0e0;
    position: relative;
}
.prod-main-box{
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    z-index: 2;
    /* display: inline-block; */
    /* float: left; */
}
.prod-main-box li{
    float: left;
    /* margin-right: 50px;
    line-height: 80px; */
}
.prod-main-box li a{
    height: 80px;
    line-height: 80px;
    display: inline-block;
    text-align: center;
    color: #999;
    font-size: 17px;
    position: relative;
    margin-right: 65px
}
.prod-main-information{
    /* width: 1920px; */
    width: 100%;
    /* margin-left: 50%; */
    /* left: -960px; */
    position: relative;
    overflow: hidden;
}
.section{
    text-align: center;
}
.section img{
    width: 100%;
    border: 0;
    /* height: 100%; */
    /* display: block; */
    vertical-align: middle;
}

#shop_footer{
    height: 189px;
    clear: both;
}
.shop-footer-area{
   width: 1200px;
   height: 89px;
   margin: 0px auto;
   padding-top: 30px;
   line-height: 89px;
   border-bottom: 1px solid #dedede;
   display: flex;
   justify-content: space-around;
}
.shop-footer-area li{
    float: left;
}
.shop-footer-area li a{
    color: black;
}
#footer-wrap{
    width: 100%;
    height: 360px;
}
.footer_nav{
    width: 1200px;
    height: 260px;
    margin: 0 auto;
    border-bottom: 1px solid black;
}
.nav_left{
    width: 960px;
    height: 170px;
    float: left;
    font-size: 10px;
    
}
.nav_left li{
    float: left;
    margin-left: 130px;
}
.nav_left .first-li{
    margin-left: 0px;
}

/* .first-li{
    margin-left: 0px;
} */

.nav_left li dd{
    margin-top: 6px;
}
.nav_left li a{
    color: black;
}
.nav-first{
    font-weight: 600;
}
.nav-second{
    padding-top: 15px;
}

.nav_right{
    width: 240px;
    height: 88px;
    float: left;
    position: relative;
    /* background: lightgreen; */
}
.online{
    width: 147px;
    height: 27px;
    margin-left: 115px;
    background:url(https://shopstatic.vivo.com.cn/vivoshop/web/dist/img/home/online-service_8319a93.png) no-repeat;
    background-size: 35px 26px; 
}
.online a{
    font-size: 20px;
    font-weight: 400px;
    margin-left: 44px;
    /* color: #008ddc; */
}
.phone-num{
    font-size: 18px;
    right: 0;
    position: absolute;
    padding-top: 20px;
    color: #333;
    padding-bottom: 6px;
}
.tel{
 font-size: 12px;
 position: absolute;
 bottom: 0;
 right: 0;
 color: #aaaaaa;
}
.footer_copyRight{
    width: 1200px;
    /* height: 82px; */
    margin: 0 auto;
    font-size: 10px;
    /* line-height: 82px; */
    /* background: lightcyan; */
    position: relative;
    
}
.copyright-text{
 line-height: 82px;
}
.copyright-text a{
    color: black;
}
.redshield{
    display: inline-block;
    width: 18px;
    height: 18px;
    background:url(https://wwwstatic.vivo.com.cn/vivoportal/web/dist/common_umix/images/gssw-icon-x2_db0a7f6.png) no-repeat right center;
    background-size: 18px 18px;
    margin: -4px 3px;
}
.other{
    width: 184px;
    height: 16px;
    float: right;

    position: absolute;
    top: 46%;
    right: 0;
    /* line-height: 82px; */
    /* background: lightgreen; */
    display: block;
}
.other li{
    width: 90px;
    float: left;
    height: 16px;
    display: block;
    line-height:86px; 
}
/* .other span{
    display: inline-block;
    float: left;
} */

.other li:nth-child(1){
    text-align: center;
    line-height: 16px;
    border-right: 1px solid #bbbbbb;
}
.other li:nth-child(2){
    line-height: 16px;
    text-align: center;
}

