@charset "utf-8";
*{
    margin: 0;padding: 0;}
/* .wrapper {
    width: 100%;
    min-width: 980px;
    margin: 0 auto;
    background: #fff;
    position: relative;
}  */
/*header
.header {
    border: 1px solid #dadada;
    border-radius: 5px;
    box-shadow: 0 2px 6px #eeeeee;
    font-family: "微软雅黑";
    background: #fff;
}
/*nav*/




/* ------ */

ul,li{list-style: none;}
 a{text-decoration: none;}
 i,em{font-style: normal;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
.header{
    width: 100%;
   height: 52px;
   /* background: #ff6633; */
   background: #2f2f2f;
}
.nav{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
}
.vivo_logo{
    width: 230px;
 }
 .vivo_logo img{
     opacity: 1;
 }
 .vivo_logo a:hover{
     opacity: 0.5;
     
 }
 .nav .menu{
    width: 710px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* background: #2f2f2f; */
}
.nav .menu li{
   float: left;

}
.nav .menu li a:hover{
    color: #aaaaaa;
}
/* .menu li a{
    font-size: 14px;
    color: #ffffff;
    line-height: 52px;
} */
.icon .iconfont-weibiaoti1psd:hover{
    opacity: 0.5;
}
.icon .iconfont-yonghu:hover{
    opacity: 0.5;
}
.icon{
    /* height: 20px; */
   color:#ffffff;
   position: absolute;
   top: 18px;
   right:0;
   cursor: pointer;
    
}
.yonghu{
    display: inline-block;
    margin-left: 85px;
    /* overflow: hidden; */
    height: 20px;
}
.yonghu:hover{
    /* width: 10px; */
    height: 200px;
    /* background: red; */
}


.icon .yonghu .menuitem{
    width: 180px;
    background: red;
    position: absolute;
    left: -46px;
    top: 35px;
    display: none;
}
.yonghu:hover .menuitem{
    display: block;
}
.icon .yonghu .menuitem .submenu{
    background: #ffffff;
    line-height: 50px;
    display: flex;
    width: 180px;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
}
.icon .yonghu .menuitem .submenu li a{
    width: 19px;
    height: 19px;
    color: black;
}
.icon .yonghu .menuitem .submenu li:hover{
    background: #f4f4f4;
}
.icon .yonghu .menuitem .submenu li:hover a{
   color: blue;
}
.icon .yonghu .menuitem .submenu li a i{
    position: absolute;
    left: 40px;
}
.icon .yonghu .menuitem .submenu span{
    text-align: left;
    display: block;
    position: relative;
    left: 74px;

}
    

.nav {
    /* width: 1200px;
    background: #000000;
    margin: 0 auto; */
    height: 52px;
    position: relative;
    z-index: 10;
    /* line-height: 58px;
    font-size: 16px;
    color: #000; */
    clear: both;
}
.menu li.li_2018 {
    /* float: left; */
    display: inline-block;
    /* width: 12.5%; */
    width: 160px;
    height: 52px;
    text-align: center;
    position: relative;
    /* background: #cccccc; */
}
.menu li.li_2018 a {
    display: block;
    /* color: #000000; */
    /* height: 42px; */
    margin-top: 3px;
    line-height: 25px;

    font-size: 14px;
    color: #ffffff;
    line-height: 52px;
}
.menu li.current a {
    color: #3385ff;
}



.SUB_M{
    width: 100%;
    /* background: #bcc2ca; */
    /* position: relative; */
    min-height: 200px;
    z-index: 2;
    overflow: hidden;
    margin: 0 auto;
}

#layer1{
    padding-left: 332px;
}

.bind_menu_a:hover.SUB_M{
  z-index: 4;
}
#layer2{
    padding-left: 255px;
}
#layer3{
    padding-left: 172px;
}
#layer4{
    padding-left: 86px;
}
.sub_menu{
    position:absolute;
    left:0;
    /* top:50px; */
    width: 100%;
    /* width:99.8%; */
    background: #2f2f2f;
    /* border:1px solid #dadada; */
    /* border-width:1px 1px 1px 1px; */
    /* border-radius:0 0 5px 5px; */
    z-index:13;
    /* box-shadow:inset 1px 0px 6px #eeeeee; */
}
.sub_menu i{
    width:14px;
    height:10px;
    position:absolute;
    top:-7px;
    margin-left:-6px;}
.sub_area{
    padding:20px;
    line-height:32px;
    font-size:14px;
    color:#535353;}
.sub_area .sub_nav{
  
    width: 9%;
 
    margin-left: 2px;
    padding-left:30px;
    list-style:none;
   
    float:left;
    height:130px;}
.sub_area .sub_nav li.li_2018 {
  
    line-height:32px;
    padding-left:16px;}
.sub_area .sub_nav li.li_2018 a{
    font-family:"微软雅黑";
    /* color:#ffffff; */
    color: rgba(255,255,255,.8);
    font-size:14px;
    white-space: nowrap;
}
.sub_pic{
    padding-left:3.75em;
    width:40%;
    float:left;}
.sub_area .sub_pic a{
    display:block; 
    font-family:"微软雅黑";
    font-size:14px;
    line-height:32px;
    color:#ffffff;}
.sub_area .sub_pic li.li_2018 span{
    cursor:pointer;
    width:35%;
    margin-right:20px;
   
    font-family:"微软雅黑";color:#535353;
    font-size:14px;
    line-height:32px;
    padding-left:14px;
    display:inline-block;
    line-height:24px;}
.sub_area .last{background:none;}
.sub_area .sub_nav li.li_2018 a:hover,.sub_area .sub_pic a:hover,.sub_area .sub_pic li.li_2018 span:hover{
    color:#ff6633;}
.sub_pic img,.sub_area .sub_ad img{
    vertical-align:top;
    margin:0px 0 10px 0px;
    border:1px solid #dadada;
    border-radius:5px;}
.sub_area .sub_ad li.li_2018{
    background:none;
    padding:0;}

#layer1 i{left:18.5%;}
#layer2 i{left:31%;}
#layer3 i{left:43%;}
#layer4 i{left:56%;}
#layer5 i{left:68.5%;}
#layer6 i{left:81%;}
#layer7 i{left:93.5%;}
