*{margin: 0;padding: 0}
ul,li{list-style: none}
a{text-decoration: none}
h1,h2,h3,h4,h5,h6{
    font-weight:normal;
}
#log{
  background-color: #6721a6;
  /* width: 1200px; */
    height: 710px;
}
.logImg{
    width: 1200px;
    height: 710px;
    /* background: url(img/logImg.jpg) no-repeat; */
    margin:0 auto;
    position: relative;
   
}
.logImg img{
    width: 1200px;
    height: 710px;
    
    /* height: 580px; */
    
}
.Log img{
    width: 97px;
    height: 97px;
    position: absolute; 
     top: 0;
    left: 0;
    
}
.layout{
    width: 420px;
    height: 485px;
    background-color:white;
    position: absolute;
    top:120px;
    right: 0;
}
.title h4{
    font-size: 24px;
    color: #4d4d4d;
    text-align: center;
    margin-top: 35px;
}
.innerbox{
    padding: 30px 35px 0;
}
.account{
    height: 46px;
    width: 100%;
    border: 1px solid #e1e1e1;
    text-indent:20px;
    font-size: 16px;
    margin-bottom: 10px;
    
}
.account::-webkit-input-placeholder{
    font-size: 16px;
    color: #cccccc;
    /* padding-left: 10px; */
}
.account:-ms-input-placeholder{
    font-size: 16px;
    color: #cccccc;
    /* padding-left: 10px; */
}
.account::-ms-input-placeholder{
    font-size: 16px;
    color: #cccccc;
    /* padding-left: 10px; */
}
.account::placeholder{
    font-size: 16px;
    color: #cccccc;
    /* padding-left: 10px; */
}
.password-field{
    height: 46px;
    width: 100%;
    border: 1px solid #e1e1e1;
    text-indent:20px;
    font-size: 16px;
}
.password-field::-webkit-input-placeholder{
    font-size: 16px;
    color: #cccccc;
    /* padding-left: 10px; */
}
.password-field:-ms-input-placeholder{
    font-size: 16px;
    color: #cccccc;
    /* padding-left: 10px; */
}
.password-field::-ms-input-placeholder{
    font-size: 16px;
    color: #cccccc;
    /* padding-left: 10px; */
}
.password-field::placeholder{
    font-size: 16px;
    color: #cccccc;
    /* padding-left: 10px; */
}
.auto-box{
        font-size: 12px;
        height: 16px;
        margin-top: 20px;
}
.auto-login{
    float: left;
    
}
.link{
    float: right;
}
.btn{
    width: 100%;
    height: 50px;
    border: 0;
    color: #ffffff;
    font-size: 22px;
    background-color: #2899f7;
    margin-top: 17px;
    cursor: pointer;
}
.register{
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid #cccccc;
    color:#666666;
    font-size: 22px;
    text-align: center;
    line-height: 50px;
    background-color: #ffffff;
    margin-top: 17px;
    cursor: pointer; 
    
}
.btn:hover{
    opacity: 0.5; 
}
.register:hover{
    border-color: #2899f7;
    color: #2899f7;
}
.o-log{
    width:100%;
    height: 16px;
    margin-top: 30px;
    
}
.o-log p{
    text-align: center;
    color: #999999;
    font-size: 12px;
}
.link_log{
    text-align: center;
    margin: 15px;
}
.link_log img{
    width: 26px;
    height: 26px;
   
}
#n-footer{
    margin-top: 50px;
    height: 160px;
    
}
#n-footer ul{
    text-align: center;
    /* background: red; */
    width: 100%;
    height: 19px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
#n-footer ul li{
    float: left;
    text-align: center;
    line-height: 19px;
}
#n-footer ul li a{
    color: #666666;
    font-size: 12px;
   
}
#n-footer ul li:nth-child(1) img{
    width: 19px;
    height: 16px;
    vertical-align: middle;
   line-height: 19px;
    
}
#n-footer ul li:nth-child(2) img{
    width: 12px;
    height: 15px;
    vertical-align: middle;
   line-height: 19px;
    
}
#n-footer ul li:nth-child(2){
    padding-left: 50px;
}
.copyRight{
    height: 44px;
    font-size: 10px;
    color: #9d9d9d;
    text-align: center;
    line-height: 44px;
    letter-spacing: 1px;
    /* margin-top: 17px; */
}